/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Inconsolata", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**************************************************/

* {
  box-sizing: border-box;
  font-family: "Inconsolata", sans-serif;
  user-select: none;
  -webkit-user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*html {
  height: 100%;
  width: 100%;
}*/

body {
  background: linear-gradient(0deg, #232b42, #232b42);
  height: 100%;
  width: 100%;
  color: #a1abc6;
}

.title {
  font-size: 3em;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
}

.main-container {
  width: 62.625rem;
  margin: auto;
  display: flex;
}

.right-pane {
  width: 31.375rem;
  display: flex;
}

.left-pane {
  width: 28.125rem;
}

/**** TTT BOARD ****/

#board {
  border: 0.0625rem solid #7987af;
  width: 15.125rem;
  height: 15.125rem;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 0.0625rem solid #7987af;
  color: #9ba7c9;
  height: 5rem;
  width: 5rem;
  line-height: 4.375rem;
  font-size: 3.75rem;
  text-align: center;
}

/**** HELP ****/

.help-container {
  height: 260px;
  width: 240px;
}

.help-text {
  margin-top: 25px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  opacity: 1;
  transition: all .08s;
  -webkit-transition: all .08s;
}

.fadeout {
  opacity: 0;
  transition: all .7s;
  -webkit-transition: all .7s;
}

/**** CONTROLS ****/

.controls-container {
  width: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: .5rem;
  margin-right: 2rem;
  height: 31.25rem;
}

/**** SCORES ****/

.scores-container {
  width: 12.5rem;
  height: 5rem;
  padding: 0.625rem;
  border-top: 0.0625rem solid #7987af;
  border-bottom: 0.0625rem solid #7987af;
}

.score {
  height: 1.25rem;
  font-size: 1rem;
  padding: 0.125rem 0 0 0.625rem;
}

.score-1 {
  color: #e07f7f;
}

.score-tie {
  color: #b5d1ff;
}

.score-2 {
  color: #7dd183;
}

/***** OPTIONS *****/

.options-container {
  padding: 0.625rem;
  border-bottom: 0.0625rem solid #7987af;
}

.options {
  display: flex;
  padding: 0.3125rem;
}

.option-name {}

/**** CUSTOM SELECT ****/

select {
  outline: 0;
  box-shadow: none;
  border: 0.0625rem solid #7987af;
  color: #a1abc6;
  cursor: pointer;
  transition: all .1s;
  -webkit-transition: all .1s;
}

.select {
  margin-left: 0.625rem;
  position: relative;
  display: block;
  height: 1.25rem;
  background: #232b42;
  overflow: hidden;
}

select:disabled {
  opacity: .4;
}

/*************/

.sliders-container {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  justify-content: space-around;
  transition: height .2s;
  -webkit-transition: height .2s;
}

.slider-container {
  display: flex;
}

.slider {
  width: 6.875rem;
}

/*** CUSTOM SLIDER ***/

.slider {
  -webkit-appearance: none;
  background: transparent;
  transition: all .1s;
  -webkit-transition: all .1s;
}

.slider:disabled {
  opacity: .4;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0.0625rem solid #232b42;
  height: 0.75rem;
  width: 1rem;
  border-radius: 0.1875rem;
  background: #a1abc6;
  cursor: pointer;
  margin-top: -0.125rem;
}
.slider::-moz-range-thumb {
  border: 0.0625rem solid #232b42;
  height: 0.75rem;
  width: 1rem;
  border-radius: 0.1875rem;
  background: #a1abc6;
  cursor: pointer;
}
.slider::-ms-thumb {
  border: 0.0625rem solid #232b42;
  height: 0.75rem;
  width: 1rem;
  border-radius: 0.1875rem;
  background: #a1abc6;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background: #ccc;
}
.slider::-moz-range-thumb:hover {
  background: #ccc;
}
.slider::-ms-thumb:hover {
  background: #ccc;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  background: #7987af;
  border-radius: 0.1875rem;
}
.slider:focus::-webkit-slider-runnable-track {
}
.slider::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  background: #7987af;
  border-radius: 0.1875rem;
}
.slider::-ms-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 1rem 0;
  color: transparent;
}
.slider::-ms-fill-lower {
  background: #7987af;
  border-radius: 0.375rem;
}
.slider:focus::-ms-fill-lower {
  background: #7987af;
}
.slider::-ms-fill-upper {
  background: #7987af;
  border-radius: 0.375rem;
}
.slider:focus::-ms-fill-upper {
}

/**************/

.slider-text {}

.slider-number {
  width: 1.25rem;
  text-align: right;
}

.buttons-container {
  width: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 0.0625rem solid #7987af;
}

.buttons-row {
  display: flex;
  justify-content: center;
}

.hover-button {
  cursor: pointer;
  width: 50%;
  height: 2.5rem;
  line-height: 2.375rem;
  text-align: center;
  transition: background-color .2s;
  -webkit-transition: background-color .2s;
}

.hover-button:hover {
  background-color: #43537f;
}

.play-button {}

.slider-speed {
  width: 6.25rem;
  margin: 0.0625rem 0.1875rem 0 0.3125rem;
}

.slider-speed-text, .slider-speed-value {
  margin: 0.625rem 0;
}

/****** D3 *********/

svg {}

.axis-y line {
  stroke: #a1abc6;
}

.axis-y path {
  stroke: #a1abc6;
}

.axis-y text {
  fill: #a1abc6
  
}

.line {
  fill: none;
  stroke-width: 0.0625rem;
}

.area {
  opacity: .1;
}

.line1 { stroke: #7dd183; }
.area1 { fill: #7dd183; }
.line2 { stroke: #b5d1ff; }
.area2 { fill: #b5d1ff; }
.line3 { stroke: #e07f7f; }
.area3 { fill: #e07f7f; }

/****** FOOTER ******/

.name {
  font-family: 'Inconsolata', monospace;
  padding-top: 20px;
  font-size: 22px;
  text-align: center;
}

.about-me {
  width: 300px;
  margin: auto;
  margin-bottom: 50px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  color: #7987af;
  font-size: 18px;
  line-height: 20px;
}

.about-me a {
  display: flex;
  font-family: 'Inconsolata', monospace;
}

.about-me .fa {
  text-align: center;
  min-width: 22px;
}

.about-me a:hover {
  color: #9ba7c9;
}

.about-me a:hover .fa {
  font-size: 19px;
}
