/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Inconsolata", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**************************************************/

* {
  box-sizing: border-box;
  font-family: "Inconsolata", sans-serif;
  user-select: none;
  -webkit-user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*html {
  height: 100%;
  width: 100%;
}*/

body {
  background: linear-gradient(0deg, #232b42, #232b42);
  height: 100%;
  width: 100%;
  color: #9ba7c9;
}

.main-container {
  width: 1002px;
  margin: auto;
  margin-top: 100px;
  display: flex;
}

.left-pane {
  width: 502px;
  display: flex;
}

.right-pane {
  width: 500px;
}

/**** TTT BOARD ****/

#board {
  border: 1px solid #7987af;
  width: 302px;
  height: 302px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid #7987af;
  color: #9ba7c9;
  height: 100px;
  width: 100px;
  line-height: 86px;
  font-size: 70px;
  text-align: center;
}

/**** CONTROLS ****/

.controls-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 500px;
  border: 1px solid red;
}

.scores-container {
  width: 200px;
  height: 60px;
}

.score {
  height: 20px;
  font-size: 16px;
  padding: 2px 0 0 10px;
}

.score-1 {
  color: #7dd183;
}

.score-tie {
  color: #b5d1ff;
}

.score-2 {
  color: #e07f7f;
}

.buttons-container {
  width: 200px;
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
}

.play-button {
  border: 1px solid blue;
  cursor: pointer;
}

/****** D3 *********/

.axis-y line {
  stroke: #9ba7c9;
}

.axis-y path {
  stroke: #9ba7c9;
}

.axis-y text {
  fill: #9ba7c9
  
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.area {
  opacity: .2;
}

.line1 { stroke: #7dd183; }

.area1 { fill: #7dd183; }

.line2 { stroke: #b5d1ff; }

.area2 { fill: #b5d1ff; }

.line3 { stroke: #e07f7f; }

.area3 { fill: #e07f7f; }
