/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Inconsolata", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**************************************************/

* {
  box-sizing: border-box;
  font-family: "Inconsolata", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/*html {
  height: 100%;
  width: 100%;
}*/

body {
  /*background: linear-gradient(0deg, #232b42, #232b42);*/
  height: 100%;
  width: 100%;
  /*color: #d8d8d8;*/
}

.main-container {
  width: 1002px;
  margin: auto;
  margin-top: 100px;
  display: flex;
}

.left-pane {
  width: 502px;
  display: flex;
}

.right-pane {
  width: 500px;
}

/**** TTT BOARD ****/

#board {
  border: 1px solid red;
  width: 302px;
  height: 302px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid blue;
  height: 100px;
  width: 100px;
}

/**** CONTROLS ****/

.controls-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  height: 500px;
  border: 1px solid red;
}

.scores-container {
  border: 1px solid red;
  width: 200px;
  height: 90px;
}

.score {
  border: 1px solid blue;
  height: 30px;
}

.pause-button {
  border: 1px solid blue;
  width: 50px;
  height: 20px;
  cursor: pointer;
  margin: auto;
}

.pause-container {
  border: 1px solid red;
  width: 60px;
  height: 30px;
  margin: auto;
}

/****** D3 *********/

.line {
  fill: none;
  stroke-width: 1.5px;
}

.area {
  opacity: .2;
}

.line1 { stroke: #2b7c17; }

.area1 { fill: #2b7c17; }

.line2 { stroke: #38437f; }

.area2 { fill: #38437f; }

.line3 { stroke: #a32a2a; }

.area3 { fill: #a32a2a; }
